<section class="guarantees @@guarantees-padding-bottom">
  <div class="container">
    <div class="guarantees__inner">
      <h2 class="guarantees__title title title--secondary @@visible">Какие гарантии вы получаете?</h2>
      <div class="guarantees__items">
        <div class="guarantees__item">
          <div class="guarantees__icon guarantees__icon--time" style="background-image: url('img/icons/document-icon.svg');"></div>
          <h3 class="guarantees__label">Документы в срок</h3>
          <p class="guarantees__text">Мы четко соблюдаем сроки, так как дорожим вашим временем</p>
        </div>
        <div class="guarantees__item">
          <div class="guarantees__icon guarantees__icon--quality" style="background-image: url('img/icons/favorites-icon.svg');"></div>
          <h3 class="guarantees__label">100% качество <br> наших услуг</h3>
          <p class="guarantees__text">Мы несем полную ответственность за свою работу</p>
        </div>
        <div class="guarantees__item">
          <div class="guarantees__icon guarantees__icon--authentication" style="background-image: url('img/icons/guarantee-icon.svg');"></div>
          <h3 class="guarantees__label">Гарантия подлинности документов</h3>
          <p class="guarantees__text">У нас есть все необходимые лицензии и сертификаты</p>
        </div>
        <div class="guarantees__item">
          <div class="guarantees__icon guarantees__icon--delivery" style="background-image: url('img/icons/delivery-icon.svg');"></div>
          <h3 class="guarantees__label">Гарантия быстрой доставки по всей России.</h3>
          <p class="guarantees__text">Доставляем в любой город России</p>
        </div>
      </div>
    </div>
  </div>
</section>