<header class="header">
  <div class="header__top top-header">
    <div class="container">
      <div class="top-header__inner">
        <div class="top-header__logo">
          <a class="logo state" href="#">
            <img class="logo__img" src="@img/logo.svg" width="136" height="39" alt="logo">
          </a>
          <p class="top-header__textlogo" data-da=".header__hidden-menu, 650">центр профессиональной дистанционной переподготовки кадров</p>
        </div>
        <ul class="top-header__social social-header" data-da=".header__hidden-menu, 1070">
          <li class="social-header__item">
            <a class="social-header__link social-header__link--whatsapp state" href="#"></a>
          </li>
          <li class="social-header__item">
            <a class="social-header__link social-header__link--viber state" href="#"></a>
          </li>
          <li class="social-header__item">
            <a class="social-header__link social-header__link--telegram state" href="#"></a>
          </li>
        </ul>
        <div class="top-header__contacts contacts-header">
          <div class="contacts-header__body">
            <a class="contacts-header__phone phone state" href="tel:88000000000">8 800 000-00-00</a>
            <a class="contacts-header__email email state" href="mailto:email@email.com">email@email.com</a>
          </div>
          <button class="contacts-header__btn btn state">Заказать звонок</button>
        </div>
        <div class="top-header__icon icon-menu">
          <span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom bottom-header" data-da=".header__hidden-menu, 1070">
    <nav class="bottom-header__menu">
      <div class="container">
        <ul class="bottom-header__list">
          <li class="bottom-header__item bottom-header__item--submenu">
            <button data-parent="1" class="bottom-header__link state">Курсы</button>
          </li>
          <li class="bottom-header__item bottom-header__item--submenu">
            <button data-parent="2" class="bottom-header__link state">Аттестация</button>
          </li>
          <li class="bottom-header__item">
            <a class="bottom-header__link state" href="#">Охрана труда</a>
          </li>
          <li class="bottom-header__item">
            <a class="bottom-header__link state" href="#">Пожарная безопасность</a>
          </li>
          <li class="bottom-header__item">
            <a class="bottom-header__link state" href="#">Свидетельство ДОПОГ</a>
          </li>
          <li class="bottom-header__item">
            <a class="bottom-header__link state" href="#">Права на спецтехнику</a>
          </li>
        </ul>
      </div>
      <div class="bottom-header__sub-menu sub-menu-catalog">
        <div class="container">
          <button class="sub-menu-catalog__close">Назад</button>
          <div hidden data-submenu="1" class="sub-menu-catalog__block">
            <div class="sub-menu-catalog__category">
              <a href="#" class="sub-menu-catalog__link-category state">Строительство и ЖКХ</a>
            </div>
            <div class="sub-menu-catalog__category">
              <a href="#" class="sub-menu-catalog__link-category state">Управление персоналом и кадровое поизводство</a>
            </div>
            <div class="sub-menu-catalog__category">
              <a href="#" class="sub-menu-catalog__link-category state">Безопасность</a>
            </div>
            <div class="sub-menu-catalog__category">
              <a href="#" class="sub-menu-catalog__link-category state">Менеджмент</a>
            </div>
            <div class="sub-menu-catalog__category">
              <a href="#" class="sub-menu-catalog__link-category state">Нефтегазовое дело</a>
            </div>
            <ul class="sub-menu-catalog__list">
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Девелопмент</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Производство строительных
                  изделий и конструкций</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Архитектурно-строительное
                  проектирование зданий и сооружений</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Промышленное и гражданское
                  строительство</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Строительство</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Мастер строительного
                  участка</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Мастер
                  дорожно-эксплуатационного участка</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Специалист по организации
                  строительства объектов дорожного хозяйства</a></li>
            </ul>
            <ul class="sub-menu-catalog__list">
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Специалист по подбору
                  персонала (рекрутер)</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Управление персоналом
                  (HR)</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Кадровое
                  делопроизводство</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Психолог-профконсультант</a>
              </li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Специалист по внедрению
                  профстандартов в организации</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Консультант по конфликтам и
                  спорам в организации </a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Специалист архива</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Делопроизводство и
                  документоведение</a></li>
            </ul>
            <ul class="sub-menu-catalog__list">
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Промышленная
                  безопасность</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Безопасность дорожного
                  движения</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Контролер технического
                  состояния автотранспортных средств</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Пожарная безопасность</a>
              </li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Пожарная профилактика</a>
              </li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Гражданская оборона и защита
                  в чрезвычайных ситуациях</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Деятельность по монтажу,
                  техническому обслуживанию и ремонту средств обеспечения пожарной безопасности</a></li>
            </ul>
            <ul class="sub-menu-catalog__list">
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Директор по развитию</a>
              </li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Директор по маркетингу</a>
              </li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Супервайзер</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Директор гостиницы</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Коммерческий директор</a>
              </li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Финансовый директор</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Master of Business
                  Administration (MBA)</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Менеджмент в образовании</a>
              </li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Управление государственными
                  и муниципальными закупками</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Производственный менеджмент
                  и технология бережливого производства</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Менеджмент качества и
                  системы менеджмента качества (СМК) на предприятии</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Менеджер проектов</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Организация перевозок и
                  управление на транспорте</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Руководитель ресторана</a>
              </li>
            </ul>
            <ul class="sub-menu-catalog__list">
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Контроль качества нефти и
                  нефтепродуктов</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Разработка и эксплуатация
                  нефтяных и газовых месторождений</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Бурение нефтяных и газовых
                  скважин</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Нефтегазовое дело</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">эксплуатации и обслуживанию
                  объектов транспорта и хранения нефти</a></li>
            </ul>
            <div class="sub-menu-catalog__footer">
              <a href="" class="sub-menu-catalog__all state">Смотреть все</a>
            </div>
            <div class="sub-menu-catalog__footer">
              <a href="" class="sub-menu-catalog__all state">Смотреть все</a>
            </div>
            <div class="sub-menu-catalog__footer">
              <a href="" class="sub-menu-catalog__all state">Смотреть все</a>
            </div>
            <div class="sub-menu-catalog__footer">
              <a href="" class="sub-menu-catalog__all state">Смотреть все</a>
            </div>
            <div class="sub-menu-catalog__footer">
              <a href="" class="sub-menu-catalog__all state">Смотреть все</a>
            </div>
          </div>
          <div hidden data-submenu="2" class="sub-menu-catalog__block">
            <div class="sub-menu-catalog__category">
              <a href="#" class="sub-menu-catalog__link-category state">Проектная деятельность</a>
            </div>
            <div class="sub-menu-catalog__category">
              <a href="#" class="sub-menu-catalog__link-category state">Строительно монтажные работы</a>
            </div>
            <ul class="sub-menu-catalog__list">
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Главный инженер проекта </a>
              </li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Главный архитектор проекта
                </a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Главный конструктор по
                  несущим и ограждающим конструкциям </a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Главный конструктор по
                  инженерным сетям и сооружениям </a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Главный конструктор по
                  транспортному строительству </a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Главный конструктор по
                  технологическому оборудованию </a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Ведущий
                  инженер-проектировщик по архитектуре </a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Ведущий
                  инженер-проектировщик по инженерным сетям и сооружениям </a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Ведущий
                  инженер-проектировщик по транспортному строительству </a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Ведущий
                  инженер-проектировщик по технологическому оборудованию </a></li>
            </ul>
            <ul class="sub-menu-catalog__list">
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Главный инженер</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Начальник
                  производственно-технического отдела</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Начальник участка по несущим
                  и ограждающим конструкциям</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Начальник участка по
                  инженерным сетям и сооружениям</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Начальник участка по
                  транспортному строительству</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Начальник участка по
                  технологическому оборудованию</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Производитель работ по
                  несущим и ограждающим конструкциям</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Производитель работ по
                  инженерным сетям и сооружениям</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Производитель работ по
                  транспортному строительству</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Производитель работ по
                  технологическому оборудованию</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Мастер по несущим и
                  ограждающим конструкциям</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Мастер по инженерным сетям и
                  сооружениям</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Мастер по транспортному
                  строительству</a></li>
              <li class="sub-menu-catalog__item"><a href="#" class="sub-menu-catalog__link state">Мастер по технологическому
                  оборудованию</a></li>
            </ul>
            <div class="sub-menu-catalog__footer">
              <a href="" class="sub-menu-catalog__all state">Смотреть все</a>
            </div>
            <div class="sub-menu-catalog__footer">
              <a href="" class="sub-menu-catalog__all state">Смотреть все</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="header__hidden-menu"></div>
</header>
