.examples {
  background-color: $bg-secondary;
  padding-top: 48px;
  padding-bottom: 74px;

  // .examples__inner
  &__inner {}

  // .examples__title
  &__title {
    margin-bottom: 40px;
  }

  // .examples__slider
  &__slider {}

  // .examples__carousel
  &__carousel {}
}

.carousel-examples {
  padding: 0 68px;
  --f-carousel-slide-width: auto;
  --f-carousel-slide-height: auto;
  --f-carousel-spacing: 38px;
  --f-button-next-pos: 0;
  --f-button-prev-pos: 0;

  @media (max-width:$mobile) {
    padding: 0;

    .f-carousel__track {
      margin-bottom: 20px;
    }

    .f-carousel__dots li {
      --f-carousel-dot-opacity: 1;
      --f-carousel-dot-hover-opacity: 1;
    }

    .f-carousel__dots li button {
      background-color: transparent;
    }

    .is-current {
      .f-carousel__dot {
        border: 2px solid #84aaed;
        --f-carousel-dot-width: 14px;
        --f-carousel-dot-height: 14px;
      }
    }

    .f-carousel__dot {
      --f-carousel-dot-width: 11px;
      --f-carousel-dot-height: 11px;
      --f-carousel-dot-color: #E4E4E4;
        // transition: all 0.3s;
    }
  }

  @media (max-width:$mobileSmall) {
    --f-carousel-slide-width: 100%;
    &__slide {
      display: flex;
      justify-content: center;
    }
  }
}

.fancybox__nav,
.f-carousel__nav {
  --f-button-width: 21px;
  --f-button-height: 39px;
  --f-button-svg-width: 21px;
  --f-button-svg-height: 39px;
  --f-button-svg-stroke-width: 0;

  svg {
    fill: #acacac;
  }
}