.paperwork {
  padding-top: 60px;
  padding-bottom: 69px;

   // .paperwork__advantages
   &__advantages {
    margin-top: 70px;
   }

  // .paperwork__inner
  &__inner {}
  // .paperwork__title
  &__title {
    margin-bottom: 37px;
  }
  // .paperwork__items
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    @media (max-width:$tablet){
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width:$mobile){
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    @media (max-width:$mobileSmall){
      grid-template-columns: 1fr;
    }
  }
  // .paperwork__item
  &__item {
    text-align: center;
    box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.1);
    background: $bg;
    padding: 110px 10px 29px 10px;
    position: relative;

    background-repeat: no-repeat;
    background-position: center 32px;
    
    &::before {
      // @extend %pseudo;
      // top: 32px;
      // left: 50%;
      // transform: translateX(-50%);
      // background-color: #86ADEF;
      // @extend %svg-color;
    }
    &--civil-defense {
      background-size: 64px 64px;
      &::before {
        // width: 56px;
        // height: 64px;
        // -webkit-mask-image: url('../img/icons.svg#fireman-icon');
        // mask-image: url('../img/icons.svg#fireman-icon');
      }
    }
    &--height-work {
      background-size: 66px 66px;
      &::before {
        // width: 66px;
        // height: 66px;
        // -webkit-mask-image: url('../img/icons.svg#crane-icon');
        // mask-image: url('../img/icons.svg#crane-icon');
      }
    }
    &--road-machinery {
      background-size: 66px 66px;
      &::before {
        // width: 66px;
        // height: 66px;
        // -webkit-mask-image: url('../img/icons.svg#excavator-icon');
        // mask-image: url('../img/icons.svg#excavator-icon');
      }
    }
    &--non-destructive-testing {
      background-size: 67px 67px;
      &::before {
        // width: 67px;
        // height: 67px;
        // -webkit-mask-image: url('../img/icons.svg#settings-icon');
        // mask-image: url('../img/icons.svg#settings-icon');
      }
    }
    &--adr {
      background-size: 73px 66px;
      &::before {
        // width: 73px;
        // height: 66px;
        // -webkit-mask-image: url('../img/icons.svg#toxic-icon');
        // mask-image: url('../img/icons.svg#toxic-icon');
      }
    }
    &--labor-protection {
      background-size: 51px 64px;
      &::before {
        // width: 51px;
        // height: 64px;
        // -webkit-mask-image: url('../img/icons.svg#worker-icon');
        // mask-image: url('../img/icons.svg#worker-icon');
      }
    }
    &--fire-technical-minimum {
      background-size: 42px 70px;
      &::before {
        // width: 42px;
        // height: 70px;
        // -webkit-mask-image: url('../img/icons.svg#extinguisher-icon');
        // mask-image: url('../img/icons.svg#extinguisher-icon');
      }
    }
    &--industrial-safety {
      background-size: 67px 64px;
      &::before {
        // width: 67px;
        // height: 64px;
        // -webkit-mask-image: url('../img/icons.svg#factory-icon');
        // mask-image: url('../img/icons.svg#factory-icon');
      }
    }
    &--education {
      background-size: 62px 70px;
      &::before {
        // width: 62px;
        // height: 70px;
        // -webkit-mask-image: url('../img/icons.svg#engineer-icon');
        // mask-image: url('../img/icons.svg#engineer-icon');
      }
    }
    &--energy-security {
      background-size: 64px 64px;
      &::before {
        // width: 64px;
        // height: 64px;
        // -webkit-mask-image: url('../img/icons.svg#plug-icon');
        // mask-image: url('../img/icons.svg#plug-icon');
      }
    }
    &--traffic-safety {
      background-size: 66px 66px;
      &::before {
        // width: 66px;
        // height: 66px;
        // -webkit-mask-image: url('../img/icons.svg#curve-icon');
        // mask-image: url('../img/icons.svg#curve-icon');
      }
    }
    &--machinery-license {
      background-size: 78px 67px;
      &::before {
        // width: 78px;
        // height: 67px;
        // -webkit-mask-image: url('../img/icons.svg#tracktor-icon');
        // mask-image: url('../img/icons.svg#tracktor-icon');
      }
    }
  }
  // .paperwork__subtitle
  &__subtitle {
    @extend %gilroy-600;
    font-size: 19px;
  }
}







