body {
  @extend %gilroy-400;
  font-size: 18px;
  line-height: 1.33;
  color: $main;
  background-color: $bg;
  min-width: 375px;
  &.body-lock {
    overflow: clip;
  }
}

.wrapper {
  min-height: 100%;
  overflow: clip;

  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
    // .page__navigation
    &__navigation {
      padding-top: 143px;
      @media (max-width: 1070px){
        padding-top: 100px;
      }
      @media (max-width:$mobile){
        padding-top: 80px;
      }
    }
}

.container {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.breadcrumbs {
  padding: 30px 0;
  @media (max-width:$mobile){
    padding: 15px 0;
  }
  // .breadcrumbs__list
  &__list {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
    align-items: center;
  }
  // .breadcrumbs__item
  &__item {
    flex: 0 0 auto;
    @extend %gilroy-500;
    font-size: 15px;
    position: relative;
    &:not(:last-child) {
      &::before {
        @extend %pseudo;
        top: 50%;
        transform: translateY(-50%);
        right: -10px;
        width: 5px;
        height: 1px;
        background-color: $accent;
      } 
    }
    @media (max-width:$mobile){
      //  &:nth-child(2) {
      //   display: none;
      //  } 
      &--certification {
        display: none;
      }
    }
  }
  // .breadcrumbs__link
  &__link {
    text-decoration-color: $accent;
    color: $accent;
    @media (max-width:$mobile){
       padding: 12px 0;
    }
    @media (any-hover: hover){
      &:hover{
        text-decoration: underline;
        text-decoration-skip-ink: none;
      }
    }
  }
  // .breadcrumbs__current
  &__current {
    color: #7d7d7d;
    text-decoration-color: #7d7d7d;
  }
}


.state {
  border-radius: 3px;
  transition: 
    box-shadow 0.2s, 
    color 0.2s, 
    background-color 0.2s;

  &:focus {
    box-shadow: 0 0 0 2px $accent;
  }
  @media (any-hover: hover){
    &:hover{
      color: $accent;
    }
  }
  &:active {
    box-shadow: none;
  }
}

.title {
  @extend %gilroy-900;
  font-size: 40px;
  line-height: 1.27; /* 51/40 */
  &--white {
    color: $bg;
  }
  &--secondary {
    font-size: 36px;
    text-align: center;
  }
  @media (max-width:$tablet){
    font-size: 32px;
    &--secondary {
      font-size: 28px;
    }
  }
}

.logo {
  transition: opacity 0.3s;

  &__img {
    @media (max-width:$mobile) {
      width: 100px;
      height: 28px;
    }
  }

  @media (any-hover: hover){
    &:hover{
      opacity: 0.7;
    }
  }

  &:active {
    opacity: 0.5;
  }

}

.social {
  display: flex;
  column-gap: 18px;
  @media (max-width: 1070px){
    align-self: center;
  }

  // .social-header__item
  &__item {
    width: 43px;
    height: 43px;
  }

  // .social-header__link
  &__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 19px;
      height: 19px;
      path {
        fill: $bg;
      }
    }

    &::before {
      // @extend %pseudo-xy;
      // @extend %svg-color;
      // width: 19px;
      // height: 19px;
      // background-color: $bg;
    }

    &--whatsapp {
      background-color: #2dd038;
      box-shadow: 0 8px 25px 0 rgba(45, 208, 56, 0.5);

      // &::before {
      //   -webkit-mask-image: url('../img/icons.svg#whatsapp-icon');
      //   mask-image: url('../img/icons.svg#whatsapp-icon');
      // }
      @media (any-hover: hover){
        &:hover{
          box-shadow: 0 8px 25px 0 rgba(45, 208, 56, 0.8);
        }
      }
    }

    &--viber {
      background-color: #7b519d;
      box-shadow: 0 8px 25px 0 rgba(123, 81, 157, 0.5);

      // &::before {
      //   -webkit-mask-image: url('../img/icons.svg#viber-icon');
      //   mask-image: url('../img/icons.svg#viber-icon');
      // }
      @media (any-hover: hover){
        &:hover{
          box-shadow: 0 8px 25px 0 rgba(123, 81, 157, 0.8);
        }
      }
    }

    &--telegram {
      background-color: #5bbaf0;
      box-shadow: 0 8px 25px 0 rgba(91, 186, 240, 0.5);

      // &::before {
      //   width: 16px;
      //   height: 14px;
      //   -webkit-mask-image: url('../img/icons.svg#telegram-icon');
      //   mask-image: url('../img/icons.svg#telegram-icon');
      // }
      @media (any-hover: hover){
        &:hover{
          box-shadow: 0 8px 25px 0 rgba(91, 186, 240, 0.8);
        }
      }
    }

    &--whatsapp,
    &--viber,
    &--telegram {
      &:active {
        box-shadow: none;
      }
    }
  }
}

.btn {
  display: inline-block;
  border-radius: 3px;
  box-shadow: 0 8px 18px 0 rgba($btn, 0.45);
  background: linear-gradient(90deg, #f6bd60 0%, #e88952 100%);
  text-align: center;
  @extend %gilroy-600;
  color: $bg;
  padding: 10px 27px;
  transition: box-shadow 0.2s, background-color 0.2s, color 0.2s;

  &--accent {
    padding: 14px 15px;
    width: 211px;
    box-shadow: 0 12px 20px 0 rgba(132, 170, 237, 0.45);
    background: linear-gradient(90deg, #87aff1 0%, #6c80cb 100%, #6c80cb 100%);
    font-size: 16px;
    text-transform: uppercase;
  }

  &--transparent {
    border: 2px solid #6d81cc;
    padding: 14px 15px;
    width: 225px;
    @extend %gilroy-700;
    font-size: 16px;
    text-transform: uppercase;
    color: #6d81cc;
    background: transparent;
    box-shadow: none;
  }

  &--footer {
    padding: 12px 27px;
  }
  
  @media (any-hover: hover){
    &:hover{
      box-shadow: 0 8px 18px 0 rgba($btn, 0.9);
      color: $bg;
    }
    &--accent {
      &:hover{
        box-shadow: 0 8px 18px 0 rgba($accent, 0.9);
      }
    }
    &--transparent {
      &:hover {
        background-color: #6d81cc;
        color: $bg;
        box-shadow: 0 8px 18px 0 rgba($accent, 0.9);
      }
    }
  }

  &:active {
    box-shadow: none;
  }
}

.input {
  width: 100%;
  height: 46px;
  padding: 0 15px;
  transition: box-shadow 0.3s;
  &::placeholder {
    font-size: 14px;
    color: #7b7b7b;
  }
  &:focus {
    box-shadow: 0 0 0 2px rgb(53, 53, 242);
  }
}

.phone,
.email {
  white-space: nowrap;
  display: inline-block;
  position: relative;
  color: $main;

  &::before {
    @extend %pseudo;
    @extend %svg-color;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 16px;
    background-color: #86AFEF;
    transition: background-color 0.3s;
  }

  @media (max-width:$mobile) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &--footer {
    color: $bg;

    &::before {
      background-color: $bg;
    }
  }
}

.phone {
  @extend %gilroy-700;
  font-size: 20px;
  padding-left: 25px;

  &::before {
    height: 16px;
    -webkit-mask-image: url('../img/icons.svg#phone-icon');
    mask-image: url('../img/icons.svg#phone-icon');
  }

  @media (max-width:$mobile) {
    font-size: 18px;
  }

  &--footer {
    padding-left: 32px;
    font-size: 19px;
    @extend %gilroy-500;

    &::before {
      width: 19px;
      height: 19px;
    }
  }
}

.email {
  @extend %gilroy-500;
  font-size: 17px;
  padding-left: 22px;

  &::before {
    height: 12px;
    -webkit-mask-image: url('../img/icons.svg#email-icon');
    mask-image: url('../img/icons.svg#email-icon');
  }

  @media (max-width:$mobile) {
    display: none;
  }

  &--footer {
    padding-left: 32px;

    &::before {
      width: 21px;
      height: 15px;
    }
  }
}

